
.principal-container{
    width: 100%;
    height: 60%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}

.vehicles-container{
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 100%;
}



@media screen and (min-width: 933px) {
    
    .box-header{
        max-width: 933px;
        height: 50px;
        padding: 30px;
        display: flex;
        flex-direction: row;
    }

    .vehicles-container{
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
}


