.combobox-container-version{
    width: 100%;
    height: 35px;
    border: 1px solid #a3a3a3;
    display: flex;
    justify-content: flex-start;
   
    align-items: center;
    font-size: 14px;
    
    margin: 4px 8px 4px 0px;
}

.combobox-container{
    width: 100%;
    height: 35px;
    border: 1px solid #a3a3a3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    
    margin: 4px 8px 4px 0px;
}

.combobox-container label{
    color: #807b7b;
    width: 30%;
    justify-content: flex-start;
    padding-left: 10px;
    font-size: 12px;
    text-align: initial;
}


.combobox-selection{
    width: 70%;
    border: none;
    justify-content: center;
    text-align: initial;
    padding-right: 8px;
    font-weight: bold;
}
.combobox-container-version .combobox-selection{
    width: 74%;
    border: none;
    justify-content: center;
    text-align: initial;
    padding-right: 4px;
    font-weight: bold;
}

.combobox-container-version label{
    padding-left: 10px;
}

.combobox-selection option:hover{
    background-color: red;
    color: #FFF
}

@media screen and (min-width: 933px){
    .combobox-container-version{
        width: 448px;
        height: 35px;
        border: 1px solid #a3a3a3;
        display: flex;
        justify-content: flex-start;
        padding-left: 10px;
        align-items: center;
        font-size: 14px;
        
        margin: 4px 8px 4px 0px;
    }
    
    .combobox-container{
        width: 212px;
        height: 35px;
        border: 1px solid #a3a3a3;
        display: flex;
        justify-content: flex-start;
        padding-left: 10px;
        align-items: center;
        font-size: 14px;
        
        margin: 4px 8px 4px 0px;
    }
    
    .combobox-container label{
        color: #807b7b;
        width: 37%;
        justify-content: flex-start;
        font-size: 12px;
        text-align: initial;
    }
    
    
    .combobox-selection{
        width: 63%;
        border: none;
        justify-content: center;
        text-align: initial;
        padding-right: 4px;
        font-weight: bold;
    }
    .combobox-container-version .combobox-selection{
        width: 74%;
        border: none;
        justify-content: center;
        text-align: initial;
        padding-right: 4px;
        font-weight: bold;
    }
    
    .combobox-selection option:hover{
        background-color: red;
        color: #FFF
    }
}