.box-container{
    width: 90%;
    height: 60%;
    background-color: #FFF;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.box-container-header{
    width: 90%;
    height: 10%;
    display: flex;
}

.box-body{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.box-footer{
    width: 100%;
    padding-left: 10px;
    height: 30%;
    display: flex;
    justify-content: center;
}

.left-footer{
    width: 25%;
    display: flex;
    justify-content:center;
    
}

.right-footer{
    width: 75%;
    display: flex;
    justify-content:center;
   ;
}

@media screen and (min-width: 933px){
    .box-container{
        max-width: 933px;
        height: 312px;
        background-color: #FFF;
        padding: 30px;
        display: flex;
        flex-direction: column;
    }


    .box-container-header{
        width: 100%;
        height: 10%;
        display: flex;
    }
    
    .box-body{
        width: 100%;
        height: 35%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .box-footer{
        width: 98%;
        height: 30%;
        display: flex;
        justify-content: flex-start;
        margin-top: 25px;
    }
    
    .left-footer{
        width: 80%;
        display: flex;
        justify-content: flex-end;
        margin-right: 8px;
    }
    
}