.container-vehicle-card{

    width: 80%;
    background: #FFF;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    margin: 10px;

}

.container-vehicle-card img{
    width: 100px;
    height: 80px;
    background-color: #CCC;
}

.container-vehicle-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 100%;

}

.container-vehicle-details span{



}