.combobox--container {
    height: 35px;
    border: 1px solid #aaa;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .combobox--box {
    width: 200px;
    position: absolute;
    left: 15px;
  }

  .combobox-label{
    display: inline-block;
    position: absolute;
    justify-content: center;
    align-items: flex-start;
    padding: 4px 0 0 8px;
    color:rgb(117, 114, 114);
    margin-left: -20px;
    
  }
  
  .combobox--selected-item {
    display: inline-block;
    height: 100%;
    width: 80%;
    padding: 4px 12px;
    vertical-align: middle;
  }
  
  .select-box--items div {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 6px;
    padding-left: 20px;
  }

  .select-box--items div:hover {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 6px;
    padding-left: 20px;
    background-color: #cf3e3e;
    color: #FFF;
  }
  
  .combobox--arrow {
    width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  padding-top: 6px;
  display: inline-block;
  position: absolute;

  }
  
  @media  screen and (min-width: 933px) {
      .combobox{
          min-width: 220px;
      }      
  }