.box-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.cars-area {
    width: 50%;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.cars-area-active {
    width: 50%;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #cf3e3e;
}

.cars-area label {
    font-size: 14px;
    color: rgb(150, 144, 144);

}

.cars-area span {
    font-size: 18px;
    color: #b30909;
}

.cars-area-active span {
    font-size: 18px;
    color: #b30909;
}

.cars-area-active label {
    font-size: 14px;
    color: rgb(150, 144, 144);

}


@media screen and (min-width: 933px) {

    .box-header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
        width: 100%;
        margin-bottom: -31px;
        z-index: 99;
    }

    .cars-area {
        width: 30%;
        height: 40px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
    }

    .cars-area-active {
        width: 30%;
        height: 40px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        border-bottom: 2px solid #cf3e3e;
    }

}