.buttom-link{
    width: 100px;
    height: 50px;
    background: #FFF;
    color: #CCC;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

@media screen and (min-width: 933px) {
    .buttom-link{
        width: 300px;
        height: 50px;
        background: #FFF;
        color: #CCC;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }
}