
.buttom-primary{
    width: 220px;
    height: 50px;
    background: #cf3e3e;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}


.buttom-secondary{
    width: 150px;
    height: 40px;
    background: transparent;
    color: #d6a96b;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border: 2px solid #d6a96b;
}

@media screen and (min-width: 933px) {
    
.buttom-primary{
    width: 300px;
    height: 50px;
    background: #cf3e3e;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}


.buttom-secondary{
    width: 225px;
    height: 40px;
    background: transparent;
    color: #d6a96b;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border: 2px solid #d6a96b;
}
}