.combobox-container-location-range{
    width: 100%;
    display: flex;
    margin: 4px 10px 4px 0px;
}

.combobox-container-location{
    height: 35px;
    width: 70%;
    border: 1px solid #a3a3a3;
    display: flex;
    justify-content: flex-start;
    padding-left: 8px;
    align-items: center;
}

.combobox-container-location-range label{
    color: #807b7b;
}

.combobox-selection-location{
    -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';

}

.label{
    font-size: 14px;
    color: #807b7b;
}

.combobox-selection-location{
    margin-left: 4px;
    max-width: 200px;
    min-width: 140px;
    border: none;
    font-weight: bold;
}

.combobox-selection option:hover{
    background-color: red;
    color: #FFF
}

.combobox-range{
    width: 30%;
    height: 35px;
    border: 1px solid #a3a3a3;
    display: flex;
    justify-content: flex-start;
    padding-left: 8px;
    align-items: center;
}

@media screen and (min-width: 933px){

    .combobox-container-location-range{
        width: 456px;
        display: flex;
        margin: 4px 8px 4px 0px;
    }
    
    .combobox-container-location{
        height: 35px;
        width: 70%;
        border: 1px solid #a3a3a3;
        display: flex;
        justify-content: flex-start;
        padding-left: 8px;
        align-items: center;
    }
    
    .combobox-container-location-range label{
        color: #807b7b;
    }
    
    .combobox-selection-location{
        -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: '';
    
    }
    
    .label{
        font-size: 14px;
        color: #807b7b;
    }
    
    .combobox-selection-location{
        margin-left: 4px;
        width: 200px;
        border: none;
        font-weight: bold;
    }
    
    .combobox-selection option:hover{
        background-color: red;
        color: #FFF
    }
    
    .combobox-range{
        width: 30%;
        height: 35px;
        border: 1px solid #a3a3a3;
        display: flex;
        justify-content: flex-start;
        padding-left: 8px;
        align-items: center;
    }
    
}